$color-lighter: lightgray;
$color-ultralighter: ghostwhite;
$border-radius: 0px;

.color-lighter {
  color: $color-lighter;
}
.margin-bottom {
  margin-bottom: 15px;
}
.margin-top {
  margin-top: 15px;
}
.uppercase {
  text-transform: uppercase;
}
.no-padding {
  padding: 0 !important;
}
.no-margin {
  margin: 0 !important;
}

.btn, .alert, .well, .form-control, .modal-content {
  border-radius: $border-radius !important;
}


@import 'ember-power-select/themes/bootstrap';
$ember-power-select-default-border-radius: $border-radius; // General border radius
$ember-power-select-opened-border-radius: 0; // Border radius of the side of the dropdown and the trigger where they touch
$ember-power-select-search-input-border-radius: 0;
@import "ember-power-select";

.g-map-canvas {
  width: auto;
  height: 400px;
}

@import url(https://fonts.googleapis.com/css?family=Great+Vibes);
@import url(https://fonts.googleapis.com/css?family=Ubuntu);

body {
  font-family: 'Ubuntu';
}
h1 {
  font-family: 'Great Vibes';
  font-size: 64px;
}

#header {
  background-color: $color-ultralighter;
  border-bottom: 1px solid $color-lighter;

  #title {
    margin-bottom: 0;
  }
  #subtitle {
    margin-top: 0;
  }

}
