.color-lighter {
  color: lightgray;
}
.margin-bottom {
  margin-bottom: 15px;
}
.uppercase {
  text-transform: uppercase;
}
.no-padding {
  padding: 0 !important;
}

.btn, .alert, .well, .form-control, .modal-content {
  border-radius: 0 !important;
}
