$color-lighter: lightgray;
$border-radius: 2px;

.color-lighter {
  color: $color-lighter;
}
.margin-bottom {
  margin-bottom: 15px;
}
.uppercase {
  text-transform: uppercase;
}
.no-padding {
  padding: 0 !important;
}

.btn, .alert, .well, .form-control, .modal-content {
  border-radius: $border-radius !important;
}
