$color-lighter: lightgray;
$border-radius: 0px;

.color-lighter {
  color: $color-lighter;
}
.margin-bottom {
  margin-bottom: 15px;
}
.margin-top {
  margin-top: 15px;
}
.uppercase {
  text-transform: uppercase;
}
.no-padding {
  padding: 0 !important;
}

.btn, .alert, .well, .form-control, .modal-content {
  border-radius: $border-radius !important;
}


@import 'ember-power-select/themes/bootstrap';
$ember-power-select-default-border-radius: $border-radius; // General border radius
$ember-power-select-opened-border-radius: 0; // Border radius of the side of the dropdown and the trigger where they touch
$ember-power-select-search-input-border-radius: 0;
@import "ember-power-select";
