<button {{action 'toggleShowNewOfferingForm'}} class="btn btn-default btn-sm">
  <span class="glyphicon glyphicon-plus"></span> Add new offering
</button>

{{#if isNewOfferingFormVisible}}
  <h3>New Offering</h3>
  {{new-offering-form}}
{{/if}}

<h3>Latest Offerings</h3>
{{latest-offerings model=model}}